# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4ae361b56737cbd90cff19d40ff4e654320af3689837e626279eaaa4e3d3acba40f9902f36ed3762600699cef0651f884910d123da0c7f73b26efd8dc828fcd5

test:
  secret_key_base: fb15926448761119e6a97a976a0fffb891022e3e4d4667b4d0b9f7a7bc7dbf465f187b7ad4da387ef3d17b5834b1eab9304e10008a9c08bf8df8f1f3c3a059e7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
